/* You can add global styles to this file, and also import other style files */
.cabecera {
    background-color: aqua;
    text-align: center;
    color: goldenrod;
    border: 0px;
    padding: 0px;
    margin: 0px;
}