@switch (status) {
  @case (0) {
    <h3>Docker no está instalado en este equipo!!</h3>
    <button type="submit" id="button" (click)="InstallDocker()">Instala Docker</button>
  }
  @case (1) {
    <h3>No se ha encontrado ningún modelo instalado en esta maquina!!</h3>
    <button type="submit" dir="button" (click)="InstallOllama()">Instalar Modelo</button>
  }
  @case (2) {
    <h3>Arrancando el modelo. ESPERE...</h3>
  }
  @case (3) {
    {{closeTerminal()}}
    <h3>Modelo en marcha!!!</h3>
    <p>Ahora, puedes preguntarle a la IA lo que quieras!!!</p>
    <input type="text" placeholder="Escribe aquí tu pregunta" id="pregunta">
    <button type="submit" (click)="pregunta()">Pregunta!!</button>
    <br>
    <div class="chat" id="chat">
      
    </div>
  }
}

@if(terminal === true) {
<div class="terminal">
  <p>{{terminalMessage}}</p>
</div>
}

<!-- @if(docker === true && ollama === true) {
  <h3>Modelo en marcha!!!</h3>
}@else if (docker === true && ollama === false) {
  <h3>No se ha encontrado ningún modelo instalado en esta maquina!!</h3>
  <button type="submit" (click)="InstallOllama()">Instalar Modelo</button>
}@else {
  <h3>Docker no está instalado en este equipo!!</h3>
  <button type="submit" (click)="InstallDocker()">Instala Docker</button>
}
 -->
<!-- @if(docker === false && ollama === false) {
  <h3>Docker no está instalado en este equipo!!</h3>
  <button type="submit" (click)="InstallDocker()">Instala Docker</button>
}@else if (docker === true && ollama === false) {
  <h3>No se ha encontrado ningún modelo instalado en esta maquina!!</h3>
  <button type="submit" (click)="InstallOllama()">Instalar Modelo</button>
} -->
